@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;1,500&display=swap');
:root {

  /* Project palette */
  --primary: #ff9922;
  --primaryHover: #c27419;
  --secondary: none;
  --secondaryHover: #a6a6a6;
  --secondaryOrange: #ffeedd;

  --ba-backgroudcolor: #ffeedd;

  /* Default theme of VueJS */
  --white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --black: #000000;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --border-radius: 10px;
}
/* Font Dimension */
:root{
  --headline1-size: 32px;
  --headline2-size: 24px;
  --headline3-size: 20px;

  --headline1-weight: 500;
  --headline2-weight: 400;
  --headline3-weight: 300;
}

/* Default Flex */
:root {
  --default-flex-gap: 10px;
  --default-padding: 6px;
  --big-padding: 10px;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  /*
  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);
*/

  --color-text: black;

  --section-gap: 160px;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Workoround to bootstrap form colored orange */
.form-control:focus {
  border-color: var(--primary);
  box-shadow: 0 0 0 0.3rem var(--secondaryOrange);
}